w1thermsensor==1.*
paho-mqtt==1.3.*
python-dotenv==0.8.*
Adafruit-BME280==1.0.*
PyYAML==3.*
APScheduler==3.5.*
bme680==1.0.*
RPi.GPIO==0.6.*
astral==1.*
git+https://github.com/palto42/SunriseSunsetCalculator.git
RPIO==0.10.*
pytest